[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "~=6.0.1"
pytest-mock = "~=3.3.1"
pre-commit = "~=2.7.1"
aws-sam-cli = "~=1.2.0"
awscli = "~=1.18.132"

[requires]
python_version = "3.7"
